@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Nixie+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url("./reset.css");
@import url("./colors.css");



:root{  
  /* Screen Breakpoints */
    --screen-xs: 0;
    --screen-sm: 576px;
    --screen-md: 768px;
    --screen-lg: 992px;
    --screen-xl: 1200px;
    --screen-xxl: 1400px;
}


html {
  background-color: var(--night-base-1);
  color: var(--night-primary-1);
  font-family: "Roboto", "Fira Code", "Inconsolata", "Red Hat Display", "Noto Sans", Helvetica;
}

body{
  font-family: "Nixie One", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  /* background-image: url("./assets/images/olenka-kotyk-9TUkYXQKXec-unsplash.jpg"); */
  background-image: url("./assets/images/benni-talent-oc6fccnUVnA-unsplash.jpg");
  background-size: cover;
}

a:link, a:active, a:visited, a:hover{
  color: var(--link-color);
  text-decoration: none;
}


h1 {
  font-size: 3em;
  font-weight: 900;
  text-transform: capitalize;
  text-align: center;
  padding: 3rem 0;  
}

h2 {
  font-size: 1.8rem;
  font-weight: 700;
  text-transform: capitalize;
}

h3 {
  font-size: 1.6rem;
  font-weight: 500;
  text-transform: capitalize;
}

span{
  padding: 0;
  margin: 0;
}

.grid-container{
  display: grid;
  font-size: 2rem;
  /* row-gap:20px; */
  column-gap: 100px;
  border-radius: 20px;
  color: var(--night-primary-2);
  padding-bottom: 4rem;
  grid-template-areas: 
    ". container .";
}

.header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* .selections{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  grid-area: selections;
  gap:20px;
} */



.footer {
  display: flex;
  justify-content: center;
}

/* Units */

.fahrenheit::after, 
.celsius::after, 
.mph::after, 
.kmh::after, 
.inch::after, 
.millimeter::after,
.meter::after,
.meter-secs::after,
.percent::after
{
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--night-accent-3);
  padding-right: 10px;
  font-family: Nunito;
  vertical-align: baseline;
}

.fahrenheit::after {
  content: " \00b0 F";
  /* content: url("./assets/icons/degree-fahrenheit.svg"); */
  padding-left: 5px;
}

.celsius::after{
  content: " \00b0 C";
  /* content: url("./assets/icons/degree-celsius.svg"); */
  padding-left: 5px;
}

.mph::after{ content: " mph"; }
.kmh::after{ content: " km/h"; }
.inch::after{ content: " in"; }
.millimeter::after{ content: " mm"; }
.meter::after{ content: " m"; }
.meter-secs::after{ content: " m/s"; }
.percent::after{ content: " %"; }

/* Modal Classes */
.btn{
  background-color: var(--night-base-3);
  padding: 10px;
  font-weight: bold;
  border-radius: 5px;
  border: 1px solid var(--night-accent-2);
  box-shadow: inset var(--night-box-shadow) var(--night-box-shadow-color);
}

.btn:hover{
  background-color: var(--night-accent-1);
  color: var(--night-primary-1);
  font-weight: bold;
}

.modal {
  position: fixed;
  z-index: 1; 
  padding-top: 5vh; 
  left: 0;
  top: -100vh;
  width: 100vw; 
  height: 100vh;
  overflow: auto;
  transition: top 0.75s ease-in-out, opacity 0.8s ease-in-out;
  opacity: 0;
  background-color: transparent;
}

.modal.show{
  top: 0;
  opacity: 1;
  background-color: transparent;
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  justify-items: stretch;
  align-items: stretch;
  background-color: var(--night-base-3);
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 35vw;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  transition: top 0.4s, opacity 0.4s; 
}

.close {
  color: var(--night-accent-3);
  float: right;
  font-size: 2.5rem;
  font-weight: bold;
  margin-top: -25px;
}

.close:hover,
.close:focus {
  color: var(--night-primary-1);
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 20px 16px 5px;
  background-color: var(--night-text-3);
  color: var(--night-primary-1);
  border-radius: 10px 10px 0 0;
  width: calc(40vw - 4px);
  align-self: center;
  text-align: center;
}

.modal-body {
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px 16px; 
  margin: auto;
  width: calc(40vw - 4px);
  background-color: var(--night-text-3);
}

.modal-footer {
  display: flex;
  justify-content: center;
  padding: 20px 40px 40px;
  background-color: var(--night-text-3);
  border-radius: 0 0 10px 10px;
  width: calc(40vw - 4px);
  font-size: 1.3rem;
}

#myModal{ border-radius: 10px; }


#myBtn{
  background-color: var(--night-base-3);
  padding: 10px 30px;  
  border: 1px solid var(--night-accent-2);
  border-radius: 5px;
  font-weight: bold;
  box-shadow: inset var(--night-box-shadow) var(--night-box-shadow-color);
  vertical-align: bottom;
}

.info{
  font-family: Helvetica;
  padding: 10px 20px
}

.group{
  display: flex;
  border: 1px solid var(--night-accent-5);
  border-radius: 5px;
}

.input {
  background-color: var(--night-accent-5);
  padding: 0 10px;
  width: 28vw;
  border-radius: 5px 0 0 5px;
  border: 1px solid var(--night-accent-4);
  color: var(--night-primary-1);
  height: 34px;
}

.search {
  padding: 1px 7px;
  width: 2vw;
  border-radius: 0 5px 5px 0;
  background-color: var(--night-accent-2);
  border: 1px solid var(--night-accent-4);
  cursor: pointer;
  height: 34px;
}

.search::after{
  content:url("./assets/icons/black-search.svg");
  vertical-align: -44%;
}

.search:hover{
  background-color: var(--night-text-2);
}

.results{
  border: 1px solid var(--night-accent-4);
  border-radius: 7px;
  width: 30vw;
  background-color: var(--night-text-3);
}

.result, .not-found{
  border-bottom: 1px solid var(--night-accent-4);
  padding: 15px 0 13px 30px;
  font-weight: 400;
  font-size: 1.2rem;
  color: var(--night-accent-2);
  font-family: Arial;
}

.result:last-child{ 
  border-bottom: none ;
}

.result:hover{
  background-color: var(--night-text-4);
  color: var(--night-primary-1);
}

.result::before{
  content: url("./assets/icons/location-pin.svg");
  margin-left: -10px;
  margin-right: 20px;
}

.not-found::before{
  content: url("./assets/icons/location-not-found.svg");
  margin-left: -10px;
  margin-right: 20px;
}

/* Utilities */

.hide{
  display: none;
}


/* Views */

.grid-item{
  display: grid;
  grid-area: container;
  grid-column: 2 / 2;
  grid-row: 2 / 2;
  border-radius: 10px;
  gap: 10px 10px;
  min-height: 80dvh;

}

.simple{
  
  grid-template-areas: 
  "current today"
  "forecast forecast"
}

.simple-current{
  display: grid;
  background-color: rgba(0,0,0,0.4);
  backdrop-filter: blur(2px);
  border-radius: 10px;
  grid-template-columns: 20px 1fr 1fr 20px;
  grid-template-rows: 1fr 2fr 1fr;  
  grid-template-areas: 
    ". location datetime ."
    ". temperature conditions. "
    ". humidity wind .";
}

.cg1, .cg2, .cg3, .cg4, .cg5, .cg6{
  display: grid;
  align-content: center;
  justify-content: stretch;
}

.cg1{ grid-area: location;}
.cg2{ grid-area: datetime;}
.cg3{ grid-area: temperature; text-align: center;}
.cg4{ grid-area: conditions; text-align: center;}
.cg5{ 
  grid-area: humidity;
  /* background-image: url("./assets/icons/drop-percentage.svg");
  background-size: contain;
  background-repeat: no-repeat; */
  /* align-content: center; */
  /* gap: 10px; */
  /* justify-content: center; */
  height: 15vh;
  gap:10px
}

.humid{
  display: inline;
  height: 6vh;
  background-image: url("./assets/icons/drop-percentage.svg");
  background-size: contain;
  background-repeat: no-repeat;
  text-align: center;
  justify-content: stretch;
  align-content: end;
  background-position: left 30px top 0px;
  font-weight: 900;
  /* border: 1px solid; */
}

.rain-total{
  display: inline;
  height: 6vh;
  background-image: url("./assets/icons/umbrella-f-rain.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left 30px top 0px;
  justify-self: stretch;
  align-self: stretch;
  text-align: center;
  font-weight: 900;
  /* border: 1px solid; */
}

.cg6{ 
  height: 8vh;
  grid-area: wind; 
  background-image: url("./assets/icons/wind.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left 40px top 0px;
  align-self: center;
  gap: 10px;
  justify-content: center;
  text-align: center;
}

.c-wind{
  font-weight: 900;
  padding-left: 40px;
}

.simple-today{
  display: grid;
  /* backdrop-filter: blur(2px);
  background-color: rgba(0,0,0,0.4); */
  border-radius: 10px;
  /* padding-left:20px; */
  gap: 10px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;  
  grid-template-areas: 
    "temp sun"
    "conditions wind";
}

.dg1, .dg2, .dg3, .dg4{
  display: grid;
  align-items: center;
  justify-content: space-around;
  align-content: center;
  backdrop-filter: blur(2px);
  background-color: rgba(0,0,0,0.4);
  border-radius: 10px;
}

.dg1{ grid-area: temp; }
.dg2{ grid-area: sun; }
.dg3{ grid-area: conditions; }
.dg4{ grid-area: wind; }

.simple-forecast{
  gap:10px;
}

div[class^="simple-day"]{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  backdrop-filter: blur(2px);
  background-color: rgba(0,0,0,0.4);
  border-radius: 10px;
  /* padding-left: 20px; */
}

/* div[class^="day"]{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} */



.detailed{
  grid-template-areas: 
  "current today"
  "hourly hourly"
  "forecast forecast"
  "aqi aqi";
}

.advanced{
  grid-template-areas: 
  "current today"
  "hourly hourly"
  "forecast forecast"
  "aqi aqi";
}



.current{ grid-area: current; }
.today{ grid-area: today; }
.hourly{ grid-area: hourly; }
.aqi{ grid-area: aqi; }

.forecast{
  grid-area: forecast;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;;
}


.date, .time{
  font-weight: 900;
  font-size: 2.5rem;
  text-align: right;
}

.time{
  font-size: 1.8rem;
  line-height: 1;
}

.city{
  font-weight: 900;
  font-size: 2.5rem;
}

.state{
  font-weight: 400;
  font-size: 1.3rem;
  font-family: Nunito;
  line-height: 1;
}

.temp{
  font-size: 5.5rem;
  font-weight: 900;
}

.feels{
  font-size: 1.8rem;
  font-weight: 900;
}

.code{
  font-size: 2rem;
  font-weight: 700;
}
.icon{
  width: 10vw;
  height: 20vh;
  background-size: cover;
  justify-self: center;
}


.day-forecast{ order: 0; }
.high{ order: 1; }
.low { order: 2;}
.wmo{ order: 3; }
.sunrise{ order: 4;}
.sunset{ order: 5;}
.uv-index{order: 6;}
.pop{ order:7;}
.speed{ order: 8; }
.direction{ order: 9;}
.day-forecast{
  font-weight: bold;
  text-align: center;
}




/* .d-wind{  
  font-size: 2.2rem;
  font-weight: 900;
} */

.high,
.low,
.wmo,
.sunrise, 
.sunset, 
.speed, 
.direction, 
.uv-index, 
.pop{
  display: flex;
  font-weight: bold; 
  font-size: 2.5rem; 
  gap:20px;
  font-weight: 900;
  text-align: center;
  align-content: center;
  justify-content: space-around;
}


.high::before,
.low::before,
.sunrise::before, 
.sunset::before,
.speed::before,
.direction::before,
.uv-index::before,
.pop::before
{
  display: inline-flex;
  background-size: contain;
  height: 3rem;
  width: 3rem;
  content: '';
}


.high::before{ background-image: url('./assets/icons/thermometer-1.svg'); }
.low::before{ background-image: url('./assets/icons/thermometer-5.svg'); }
.pop::before{ background-image: url("./assets/icons/drops-f-2.svg"); }
.sunrise::before{ background-image: url('./assets/icons/sunrise-f.svg'); }
.sunset::before{ background-image: url('./assets/icons/sunset-f.svg'); }
.speed::before{  background-image: url("./assets/icons/wind-2.svg"); }
.direction::before{ background-image: url("./assets/icons/wind-cone.svg");}
.uv-index::before{ background-image: url('./assets/icons/uv-index.svg'); }


/* Icons */

.sunny{ background-image: url("./assets/icons/clear-day.svg");}
.clear{ background-image: url("./assets/icons/clear-night.svg"); }
.mostly-sunny {background-image: url("./assets/icons/cloudy-1-day.svg"); }
.mostly-clear{ background-image: url("./assets/icons/cloudy-1-night.svg"); }
.partly-cloudy{ background-image: url("./assets/icons/cloudy-2-day.svg"); }
.cloudy{ background-image: url("./assets/icons/cloudy.svg"); }
.foggy{ background-image: url("./assets/icons/fog.svg");}
.rime{ background-image: url("./assets/icons/haze.svg");}
.light-drizzle{ background-image: url("./assets/icons/rainy-1.svg");}
.drizzle{ background-image: url("./assets/icons/rainy-2.svg");}
.heavy-drizzle{ background-image: url("./assets/icons/rainy-3.svg");}
.light-freezing-drizzle{ background-image: url("./assets/icons/rain-and-sleet-mix.svg"); }
.freezing-drizzle{ background-image: url("./assets/icons/snow-and-sleet-mix.svg"); }
.light-rain{ background-image: url("./assets/icons/rainy-1.svg"); }
.rain{ background-image: url("./assets/icons/rainy-2.svg"); }
.heavy-rain{ background-image: url("./assets/icons/rainy-3.svg"); }
.light-freezing-rain{ background-image: url("./assets/icons/snow-and-sleet-mix.svg");}
.freezing-rain{ background-image: url("./assets/icons/rain-and-sleet-mix.svg");}
.light-snow{ background-image: url("./assets/icons/snowy-1.svg"); }
.snow{ background-image: url("./assets/icons/snowy-2.svg");}
.heavy-snow{ background-image: url("./assets/icons/snowy-3.svg"); }
.snow-grains{ background-image: url("./assets/icons/rain-and-snow-mix.svg"); }
.light-showers{ background-image: url("./assets/icons/rainy-1.svg");}
.showers{ background-image: url("./assets/icons/rainy-2.svg"); }
.heavy-showers{ background-image: url("./assets/icons/rainy-3.svg"); }
.light-snow-showers{ background-image: url("./assets/icons/snowy-1.svg");}
.snow-showers{ background-image: url("./assets/icons/snowy-2-day.svg"); }
.thunderstorms{ background-image: url("./assets/icons/thunderstorms.svg"); }
.light-thunderstorms-hail{ background-image: url("./assets/icons/scattered-thunderstorms.svg"); }
.thunderstorms-hail{ background-image: url("./assets/icons/severe-thunderstorm.svg");}



/* Media Queries */
/* breakpoints: 576, 768, 992, 1200, 1400 */

@media screen and (max-width: 576px)  { 

  .grid-container{
    grid-template-areas: ". container .";
    column-gap: 5px;
    row-gap: 5px;
    grid-template-columns: 5px 1fr 5px;
    grid-template-rows: auto;
    font-size: 1.3rem;
  }

  .simple{
    grid-template-areas: 
    "current" 
    "today"
    "forecast"
  }

  .simple-today{
    grid-template-areas: 
      "temp sun"
      "conditions wind";
      /* padding: 0; */
      display: grid;
      justify-content: space-around;
      align-content: stretch;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
  }
  .high, .low, .sunrise, .sunset, .uv-index, .pop, .speed, .direction{
    font-size: 1.2rem;
  }

  .high::before, .low::before, .sunrise::before, .sunset::before, 
  .uv-index::before, .pop::before, .speed::before, .direction::before{
    width: 1rem; height: 1rem;
    
  }

  .simple-forecast{
    gap:10px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}

@media screen and (min-width: 577px) and (max-width: 768px ) {
  .grid-container{
    grid-template-areas: ". container .";
    column-gap: 10px;
    row-gap: 10px;
    font-size: 1.5rem;
  }

  .simple{
    grid-template-areas: 
    "current" 
    "today"
    "forecast"

  }

  .simple-today{
    grid-template-areas: 
      "temp sun"
      "conditions wind";
    padding: 0;
    display: grid;
    justify-content: space-around;
    align-content: stretch;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }


  .high, .low, .sunrise, .sunset, .uv-index, .pop, .speed, .direction{
    font-size: 1.4rem;
  }

  .high::before, .low::before, .sunrise::before, .sunset::before, 
  .uv-index::before, .pop::before, .speed::before, .direction::before{
    width: 1.3rem; height: 1.3rem;
    
  }

  .simple-forecast{
    gap:10px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  div[class^="simple-day"]{
    /* flex-direction: row; */
    /* flex-wrap: wrap; */
  }
}

@media screen and (min-width: 769px) and (max-width: 992px ) {

  .grid-container{
    grid-template-areas: ". container .";
    column-gap: 10px;
    row-gap: 10px;
    /* grid-template-columns: 10px 1fr 10px; */
    grid-template-rows: auto;
    font-size: 1.7rem;
  }

  .grid-item{
    grid-area: container;
    /* grid-column: 2 / 2; */
    column-gap: 10px;
    row-gap: 10px;
  }

  .simple-today{
    grid-template-areas: 
      "temp" "sun" "conditions" "wind";
    row-gap: 10px;
    column-gap: 10px;
    padding: 0;
    display: grid;
    justify-content: space-around;
    align-content: stretch;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .high, .low, .sunrise, .sunset, .uv-index, .pop, .speed, .direction{
    font-size: 1.6rem;
  }

  .high::before, .low::before, .sunrise::before, .sunset::before, 
  .uv-index::before, .pop::before, .speed::before, .direction::before{
    width: 1.8rem; height: 1.8rem;
  }

}


@media screen and (min-width: 993px) and (max-width: 1200px ) {

  .grid-container{
    grid-template-areas: ". container .";
    column-gap: 10px;
    row-gap: 10px;
    grid-template-columns: 10px 1fr 10px;
    grid-template-rows: auto;
    /* font-size: 1.5rem; */
  }

  .grid-item{
    grid-column: 2 / 2;
    /* grid-row: 1 / 1; */
    grid-area: container;
    column-gap: 10px;
    row-gap: 10px;
    /* grid-template-columns: 2fr 1fr; */
    /* grid-template-rows: auto; */
  }

  .simple-today{
    grid-template-areas: 
      "temp"
      "sun"
      "conditions"
      "wind";
    row-gap: 10px;
    column-gap: 10px;
    padding: 0;
    display: grid;
    justify-content: space-around;
    align-content: stretch;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .high, .low, .sunrise, .sunset, .uv-index, .pop, .speed, .direction{
    font-size: 1.8rem;
  }

  .high::before, .low::before, .sunrise::before, .sunset::before, 
  .uv-index::before, .pop::before, .speed::before, .direction::before{
    width: 2rem; height: 2rem;
  }

}

@media screen and (min-width: 1201px) and (max-width: 1440px ) {

}